div {
    color : white;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 20px;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.288) solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}

h2 {
    padding: 20px;
    font-size: 2em;
    text-decoration: underline 1px;
}

p {
    padding: 10px;
}