* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(49, 0, 49), rgb(207, 71, 114));
}